.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 203px 23px 0 533px;
}

.u-section-1 .u-image-1 {
  width: 507px;
  height: 338px;
  margin: -64px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -266px 23px 60px 533px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -396px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 138px 556px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 138px 556px 0 0;
}

.u-section-2 .u-image-1 {
  width: 484px;
  height: 726px;
  margin: -444px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 356px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 510px;
  }
}